version: '2'
# https://github.com/localstack/localstack
# when editing this file, you can immediately deploy changes with 'docker-compose up -d --force-recreate'
#   API Gateway at http://localhost:4567
#   Kinesis at http://localhost:4568
#   DynamoDB at http://localhost:4569
#   DynamoDB Streams at http://localhost:4570
#   Elasticsearch at http://localhost:4571
#   S3 at http://localhost:4572
#   Firehose at http://localhost:4573
#   Lambda at http://localhost:4574
#   SNS at http://localhost:4575
#   SQS at http://localhost:4576
#   Redshift at http://localhost:4577
#   ES (Elasticsearch Service) at http://localhost:4578
#   SES at http://localhost:4579
#   Route53 at http://localhost:4580
#   CloudFormation at http://localhost:4581
#   CloudWatch at http://localhost:4582
#   SSM at http://localhost:4583
services:

  portainer:
    image: portainer/portainer
    container_name: "portainer"
    ports:
      - "9000:9000"
    command: --no-auth
    networks:
      - localstack
    hostname: localstack
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/tmp:/data
    restart: unless-stopped

  localstack:
    image: localstack/localstack
    container_name: "localstack"
    ports:
      - "8080:8080"
      - "4570:4570"
      - "4572:4572"
      - "4575:4575"
    networks:
      - localstack
    hostname: localstack
    environment:
      - SERVICES=sqs:4570,s3:4572,sns:4575
      - DEBUG=s3
      - DATA_DIR=/data
      - PORT_WEB_UI=8080
      - LAMBDA_EXECUTOR=local
      - KINESIS_ERROR_PROBABILITY=0.0
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/tmp/localstack:/tmp/localstack
    restart: unless-stopped

  # based on https://github.com/khezen/compose-postgres
  postgres:
    image: postgres
    container_name: "postgres-test"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changeme
      - PGDATA=/tmp/postgres
      # for example, connect at: 172.20.0.4:5432 with the above credentials
    volumes:
      - /var/tmp/postgres:/tmp/postgres
      #- /data/postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - localstack
    hostname: localstack
    restart: unless-stopped
  
  # default username and password: pgadmin4@pgadmin.org / admin
  pgadmin:
    links:
      - postgres:postgres-test
    image: fenglc/pgadmin4
    container_name: "pgadmin"
    depends_on:
      - postgres-test
    volumes:
      - /var/tmp/.pgadmin:/tmp/.pgadmin
      #- /data/pgadmin:/root/.pgadmin
    ports:
      - "5050:5050"
    networks:
      - localstack
    hostname: localstack
    restart: unless-stopped

networks:
  localstack:
    driver: bridge
